<!-- Constom submit button -->

<div class="pub_mod">
	<div class="pub_row">
	    <input type="hidden" id="<%- id %>" name="<%- id %>" value="" />
        <button type="submit"
	         class="mui-btn mui-btn-primary submitbutton"
             name="<%- id %>"
	         data-url=<%- submiturl %>
	         value = <%- button1value %>
	         >
	        <%- button1label %>
	    <button type="submit"
	         class="mui-btn mui-btn-primary submitbutton"
             name="<%- id %>"
	         data-url=<%- submiturl %>
	         value = <%- button2value %>
	         >
	        <%- button2label %>
	</div>
</div>