.mymetadata
.checkstyle
.classpath
.project
.class
.war
.zip
.rar
.idea
*.iml
.settings/*
/indexes/*
/target/*
/src/main/webapp/WEB-INF/classes/*
/src/main/webapp/userfiles/*
/target/
.gitattributes
.svn/pristine/03/03eba22ae5715762e90d35ec3c3bd802a95d20a7.svn-base
